.container {
    display: flex;
    margin-top: 10px;
}

.newProduct {
    flex: 4;
    padding: 20px;
}

.addProductForm {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
}

.addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addProductImages {
    display: flex;
    align-items: center;
    /* margin: 20px 0; */
}

.addProductIcon {
    cursor: pointer;
}

.addProductMainImg {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.addProductItem > input {
    height: 20px;
    padding: 10px;    
    border: 1px solid gray;
    border-radius: 5px;
}

.addProductItem > .addProductFile {
    border: none;
    padding: 10px 0;
}

.addProductItem.desc {
    width: 520px;
    margin-right: 20px;
}

.addProductItem > textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.addProductItem > select {
    padding: 10px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
}

.addProductButton {
    width: 250px;
    margin: 40px 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    justify-self: end;
}