.container {
    display: flex;
    margin-top: 10px;
}

.newUser {
    flex: 4;
    padding: 20px;
}

.newUserForm {
    display: flex;
    flex-wrap: wrap;
}

.newUserItem {
    width: 300px;
    display: flex;
    flex-direction: column;
    /* margin-top: 10px;
    margin-right: 20px; */
    margin: 30px;
}

.newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newUserImage {
    display: flex;
    align-items: center;
}

.newUserIcon {
    cursor: pointer;
}

.newUserMainImg {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.newUserItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newUserGender > input {
    margin-top: 10px;
}

.newUserGender > label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect {
    padding: 10px;
    height: 40px;
    border-radius: 5px;
}

.newUserButton {
    width: 250px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    margin: 30px;
    cursor: pointer;
}